@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  width: 100%;
  height: 100%;
  background-color: $primary-black;

  &__title {
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    @include tablet-and-desktop {
      padding-bottom: 0.7rem;
      padding-top: 0.5rem;
    }

    @include desktop {
      padding-bottom: 1rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet-and-desktop {
      flex-direction: row;
      padding: 1.3rem 0 0 3.125rem;
    }

    @include desktop {
      padding: 1.5rem 0 0 4.5rem;
    }
  }

  &__nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @include tablet-and-desktop {
      padding-left: 4rem;
    }
  }

  &__nav-item-link {
    text-decoration: none;
    color: $primary-white;
  }

  &__nav-item {
    list-style-type: none;

    text-align: center;
    padding: 1rem 0;
    position: relative;
    font-size: 1rem;
    color: $primary-white;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
      text-decoration: underline;
    }

    @include tablet-and-desktop {
      width: auto;
      margin-right: 3rem;
      font-size: 1rem;
      color: $primary-white;
    }

    @include desktop {
      padding-bottom: 1.5rem;
      font-size: 1.125rem;
    }
  }

  &__nav-home-memories-wrap {
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    gap: 2.8rem;

    @include tablet-and-desktop {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__nav-logout-btn-wrap {
    width: 100%;
  }

  &__nav-logout-btn {
    background-color: $primary-black;
    color: $primary-white;
    font-family: "Avenir";
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
    display: block;
    text-align: center;
    margin-top: -0.4rem;
    padding-right: 2rem;
    font-size: 1rem;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }

    @include tablet-and-desktop {
      height: 2.75rem;
      justify-content: center;
      margin-top: -0.7rem;
    }

    @include desktop {
      font-size: 1.125rem;
    }
  }

  &__nav-login-btn-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    @include tablet-and-desktop {
      width: 100%;
      justify-content: flex-end;
      margin-right: 8rem;
      margin-bottom: 1rem;
      margin-top: 0;
      font-size: 1.125rem;
    }

    @include desktop {
      width: 100%;
      justify-content: flex-end;
      margin-right: 8rem;
    }
  }

  &__nav-login-btn {
    background-color: $primary-black;
    color: $primary-white;
    font-family: "Avenir";
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    width: 20%;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }

    @include tablet-and-desktop {
      height: 2.75rem;
      justify-content: center;
      // @include tabdesk-body;
      margin-left: 2rem;
      font-size: 1.125rem;
      margin-top: 0.4rem;
    }

    @include desktop {
      font-size: 1.125rem;
    }
  }
}
